<div class="recommendation-container">

  <mat-card class="recommendation-header">
    <div class="header-top">
      <img src="assets/peopleIcon.svg" alt="icon" class="header-icon" />
      <div class="header-text">
        <h2>Employee Connection Recommendation</h2>
        <p>Discover recommended employee connections based on shared roles and skills</p>
      </div>
    </div>

    <form class="recommendation-form">
      <mat-form-field appearance="fill">
        <mat-label>Select Employee</mat-label>
        <mat-select [(ngModel)]="selectedEmployeeId" name="employee">
          <mat-option *ngFor="let emp of employees" [value]="emp.employee_id">
            {{ emp.employee_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary" class="recommend-button" (click)="getRecommendations()">
        Get Recommendations
      </button>
    </form>
  </mat-card>

  <!-- Recommendations Section -->
  <div *ngIf="recommendations.length > 0">
    <h3 class="section-subtitle">Recommended Employee Connections</h3>

    <mat-card *ngFor="let emp of recommendations" class="recommendation-card">
      <mat-card-title>
        {{ emp.employee_name }}
        <mat-chip color="primary" class="score-chip" selected>
          Score: {{ emp.similarity_score | number: '1.2-2' }}
        </mat-chip>
      </mat-card-title>
      <!-- <mat-card-subtitle>{{ emp.employee_title }} - {{ emp.labour_category }}</mat-card-subtitle> -->
      <mat-card-subtitle>
        {{ emp.employee_title | titlecase }} - {{ emp.labour_category }}
      </mat-card-subtitle>      
      <mat-card-content>
        <strong>Skills:</strong> {{ emp.skills }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
